<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>   
        <h1>Todo App</h1>
        <form action="/todo" method="post" id="content">
            <input type="name" name="name" id="name" placeholder="Enter your name" /><br><br>
            <button>Add Todo</button>
        </form>
</center>
        <div id="td">
        <ul>
<li>
        |#{data}
</li>
        </ul>
        </div>
</body>
</html>