html
  head
    title hasaan 
    block script
      script(src='/static/index.js')

    block style 
        link(rel='stylesheet' href='../static/style.css')

  body
    block content
     ul.ullist
    li home
    li about
    li contact

    